@import "variables";
@import "global";

/* Desktop animation class */

.show-dropdown {
  display: flex;
  left: -1vw;
  top: clamp(28.8px, 2vw, 36.2px);
}

.hide-dropdown {
  display: none;
}


/* Mobile animation class */

.show-menu {
  display: flex;
}

.hide {
  display: none;
}

.hide-overflow {
  overflow: hidden;
}

.hide-menu {
  display: none;
}

.show-accordion {
  display: flex;
  position: relative;
  right: 0;
}

.hide-accordion {
  position: absolute;
  opacity: 0;
  right: 80vw;
}

.rotate-arrow {
  opacity: 0.6;

  &::after {
    transform: rotate(180deg) !important;
  }
}