@import "variables";
@import "global";

.show-menu { display: flex; }

.hide-menu { display: none; }

.show-accordion {
  display: flex;
  position: relative;
  right: 0;
}

.hide-accordion {
  position: absolute;
  opacity: 0;
  right: 80vw;
}
