// Responsive

$mobile: "375px";
$desktop: "1440px";

// Colors
$light-red-for-cta-text: hsl(356, 100%, 66%);
$very-light-red-for-cta-hover-bg: hsl(355, 100%, 74%);
$very-dark-blue-headings: hsl(208, 49%, 24%);

$white-text: hsl(0, 0%, 100%);
$grayish-blue-footer-text: hsl(240, 2%, 79%);
$very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
$very-dark-blue-footer-bg: hsl(240, 10%, 16%);

// For gradients Intro/CTA
$very-light-red-bg-grad: hsl(13, 100%, 72%);
$light-red-bg-grad: hsl(353, 100%, 62%);

// For gradients body
$very-dark-gray-blue-body: hsl(237, 17%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);

// Fonts
$overpass: "Overpass", sans-serif;
$ubuntu: "Ubuntu", sans-serif;

// Buttons
%btn-style {
  border: none;
  border-radius: 50px;
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  font-family: $overpass;
}

// Headings
%h2-heading {
  font-family: $overpass;
  font-weight: 600;
}

//Paragraphs
@mixin text {
  font-weight: 300;
  font-family: $ubuntu;
  font-size: 4.6vw;
  line-height: 6vw;
}

// links {
@mixin anchor {
  color: $white-text;
  font-family: $overpass;
  text-decoration: none;
  font-weight: 300;

  &:hover {
    text-decoration: underline;
  }
}

@mixin btn-style {
  border: none;
  border-radius: 50px;
  padding: 4.5vw 7.5vw;
  font-size: 4vw;
  font-weight: 900;
  font-family: $ubuntu;
  cursor: pointer;

}
