h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.hero p, p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: clamp(16px, 5vw, 1.5rem);
  line-height: 1.8rem;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.hero p, p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: clamp(16px, 5vw, 1.5rem);
  line-height: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

/*  Mobile style */
.header {
  position: relative;
  width: 100%;
  /* padding: clamp(30px, 7vw, 90px) 1.5rem clamp(18px, 5vw, 70px) 1.5rem; */
  padding: clamp(30px, 7vw, 90px) clamp(18px, 5vw, 70px);
  display: flex;
  justify-content: space-between;
}
.header__desktop-nav {
  display: none;
}
.header__mobile-nav {
  display: block;
}
.header__logo {
  display: inline-block;
  width: clamp(75px, 20vw, 150px);
}
.header__mobile-nav {
  width: clamp(30px, 7vw, 60px);
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: clamp(70px, 5vw, 95px) clamp(110px, 8vw, 150px);
    display: flex;
    justify-content: unset;
    align-items: center;
  }
  .header__mobile-nav {
    display: none;
  }
  .header__desktop-nav {
    padding-left: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header__desktop-nav .desktop-nav__left {
    display: flex;
    align-items: center;
  }
  .header__desktop-nav .desktop-nav__left :where(.product a, .company a, .connect a) {
    color: white;
    font-family: "Overpass", sans-serif;
    text-decoration: none;
    font-weight: 300;
    display: flex;
    align-items: center;
    font-size: clamp(16px, 1.3vw, 25px);
    position: relative;
  }
  .header__desktop-nav .desktop-nav__left :where(.product a, .company a, .connect a)::after {
    content: url(../../assets/images/icon-arrow-light.svg);
    margin-left: clamp(11px, .8vw, 19px);
    cursor: pointer;
  }
  .header__desktop-nav .desktop-nav__left div:not(:first-child) {
    margin-left: 25%;
  }
  .header__desktop-nav .desktop-nav__left .product__dropdown,
.header__desktop-nav .desktop-nav__left .company__dropdown,
.header__desktop-nav .desktop-nav__left .connect__dropdown {
    display: none;
  }
  .header__desktop-nav .desktop-nav__right button {
    border: none;
    border-radius: 50px;
    /* padding: clamp(23px, 1.6vw, 32px) clamp(45px, 3.3vw, 65px); */
    padding: clamp(23px, 1.6vw, 32px) clamp(45px, 3.3vw, 65px);
    font-size: clamp(16px, 1.3vw, 25px);
    font-weight: 600;
    font-family: "Overpass", sans-serif;
    color: #ff525d;
  }
  .header__desktop-nav .desktop-nav__right button:first-child {
    background-color: transparent;
    color: white;
  }
}
h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.hero p, p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: clamp(16px, 5vw, 1.5rem);
  line-height: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

.hero {
  position: relative;
  color: white;
  text-align: center;
  padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px);
  /* padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px); */
  font-family: "Overpass", sans-serif;
}
.hero h1 {
  font-weight: 600;
  font-size: clamp(24px, 7vw, 84px);
  margin: 0.7rem 0;
}
.hero p {
  color: white;
  margin-bottom: 3rem;
}
.hero__cta {
  display: flex;
  justify-content: space-evenly;
}
.hero__cta button {
  border: none;
  border-radius: 50px;
  /* padding: clamp(23px, 1.6vw, 32px) clamp(45px, 3.3vw, 65px); */
  padding: clamp(23px, 1.6vw, 32px) clamp(45px, 3.3vw, 65px);
  font-size: clamp(16px, 1.3vw, 25px);
  font-weight: 600;
  font-family: "Overpass", sans-serif;
}
.hero__cta button:nth-child(1) {
  color: #ff525d;
}
.hero__cta button:nth-child(2) {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

@media screen and (min-width: 1440px) {
  .hero h1 {
    font-weight: 600;
  }
  .hero p {
    margin: clamp(28px, 2vw, 48px) 0 clamp(72px, 5vw, 120px) 0;
  }
  .hero__cta {
    justify-content: center;
  }
  .hero__cta button {
    margin: 0 1%;
  }
}
h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

p, .hero p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: clamp(16px, 5vw, 1.5rem);
  line-height: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

.illustration {
  text-align: center;
  padding: 5rem 0;
}
.illustration h2 {
  color: #1f3f5b;
  margin: 2rem 0;
  font-size: 2.2rem;
  font-weight: 600;
}
.illustration .illustration1 div:not(:first-child) {
  padding: 0 2.5rem 3rem 2.5rem;
}
.illustration .illustration1 div:not(:first-child) h2 {
  margin-bottom: 1rem;
}
.illustration .illustration1 div:not(:first-child) p {
  color: #4b5862;
}
.illustration .illustration2 {
  position: relative;
  padding: 10rem 0;
  margin: 12rem 0 5rem 0;
  background-color: yellow;
  border-radius: 0 100px 0 100px;
  background-image: url(../../assets/images/bg-pattern-circles.svg), -webkit-linear-gradient(bottom, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.illustration .illustration2 > .illustration2__image {
  position: absolute;
  top: -27%;
}
.illustration .illustration2 div:not(:first-child) {
  padding: 0 2rem 3rem 2rem;
}
.illustration .illustration2 div:not(:first-child) h2 {
  margin-bottom: 1rem;
  color: white;
}
.illustration .illustration2 div:not(:first-child) p {
  color: #4b5862;
  color: white;
}
.illustration .illustration3 {
  margin-top: 5rem;
}
.illustration .illustration3 > h2 {
  margin: 2rem 0;
}
.illustration .illustration3 div:not(:first-child) {
  padding: 0 2.5rem 3rem 2.5rem;
}
.illustration .illustration3 div:not(:first-child) h2 {
  margin: 1.5rem 0;
}
.illustration .illustration3 div:not(:first-child) p {
  color: #4b5862;
}

@media screen and (min-width: 1440px) {
  .illustration {
    overflow: hidden;
  }
  .illustration > h2 {
    font-size: 2.8rem;
    margin-bottom: 10rem;
  }
  .illustration .illustration1 {
    padding: 0 10rem;
    margin-bottom: 20%;
    position: relative;
  }
  .illustration .illustration1 .illustration1__image {
    position: absolute;
    top: -48%;
    right: -20%;
  }
  .illustration .illustration1 div:not(:first-child) {
    text-align: left;
    width: 60%;
  }
  .illustration .illustration2 {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10% 0 0;
    height: 40.9vh;
    margin-bottom: 20%;
  }
  .illustration .illustration2 div:not(:first-child) {
    width: 45%;
  }
  .illustration .illustration2 > .illustration2__image {
    position: absolute;
    top: -15%;
    left: 10%;
  }
  .illustration .illustration3 {
    padding: 0 10rem;
    margin-bottom: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
  }
  .illustration .illustration3 .illustration3__image {
    position: absolute;
    top: -28%;
    left: -278px;
  }
  .illustration .illustration3 div:not(:first-child) {
    width: 60%;
    padding-left: 10%;
  }
}
h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

p, .hero p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: clamp(16px, 5vw, 1.5rem);
  line-height: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

.footer {
  background-color: #25252d;
  color: #c8c8cb;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 3rem 0;
  border-radius: 0 100px 0 0;
}
.footer .logo {
  width: 20%;
  margin: 2rem auto;
}
.footer div:not(:first-child) {
  margin: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}
.footer div:not(:first-child) span:first-child {
  margin-bottom: 1rem;
  font-weight: 600;
}
.footer div:not(:first-child) span:not(:first-child) {
  margin: 0.2rem 0;
}

@media screen and (min-width: 1440px) {
  .footer {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
    border-radius: 0 100px 0 0;
    /*     div:last-child {
          font-size: .4rem;
          display: unset;
          position: relative;
          bottom: -145px;
          left: 0;
          color: $light-red-for-cta-text;
        } */
  }
  .footer .logo {
    width: 7%;
    margin: unset;
  }
  .footer div:not(:first-child) {
    margin: unset;
    display: flex;
    flex-direction: column;
  }
  .footer div:not(:first-child) span:first-child {
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  .footer div:not(:first-child) span:not(:first-child) {
    margin: 0.3rem 0;
  }
}

/*# sourceMappingURL=styles.css.map */
