h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(20px, 1.4vw, 34px);
  line-height: clamp(43px, 3vw, 63px);
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/*  Mobile style */
.header {
  position: relative;
  width: 100%;
  /* padding: clamp(30px, 7vw, 90px) 1.5rem clamp(18px, 5vw, 70px) 1.5rem; */
  padding: clamp(30px, 7vw, 90px) clamp(18px, 5vw, 70px);
  display: flex;
  justify-content: space-between;
}
.header__desktop-nav {
  display: none;
}
.header__mobile-nav {
  display: block;
}
.header__logo {
  display: inline-block;
  width: clamp(75px, 20vw, 150px);
}
.header__mobile-nav {
  width: clamp(30px, 7vw, 60px);
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: clamp(70px, 5vw, 95px) clamp(110px, 8vw, 150px);
    display: flex;
    justify-content: unset;
  }
  .header__mobile-nav {
    display: none;
  }
  .header__desktop-nav {
    padding-left: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .header__desktop-nav .desktop-nav__left {
    display: flex;
    align-items: baseline;
  }
  .header__desktop-nav .desktop-nav__left .product,
.header__desktop-nav .desktop-nav__left .company,
.header__desktop-nav .desktop-nav__left .connect {
    width: 30%;
    position: relative;
  }
  .header__desktop-nav .desktop-nav__left :where(.product > a, .company > a, .connect > a) {
    color: white;
    font-family: "Overpass", sans-serif;
    text-decoration: none;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: clamp(16px, 1.3vw, 25px);
    position: relative;
    margin-right: 2.5vw;
    cursor: pointer;
  }
  .header__desktop-nav .desktop-nav__left :where(.product > a, .company > a, .connect > a):hover {
    text-decoration: underline;
  }
  .header__desktop-nav .desktop-nav__left :where(.product > a, .company > a, .connect > a)::after {
    content: url(../../assets/images/icon-arrow-light.svg);
    margin-left: clamp(11px, 0.8vw, 19px);
  }
  .header__desktop-nav .desktop-nav__left :where(.product > a, .company > a, .connect > a):hover::after {
    transform: scaleY(-1);
  }
  .header__desktop-nav .desktop-nav__left .product__dropdown,
.header__desktop-nav .desktop-nav__left .company__dropdown,
.header__desktop-nav .desktop-nav__left .connect__dropdown {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    position: relative;
    transition: all 300ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    width: clamp(144px, 10vw, 239.733px);
    height: clamp(180.883px, 9vw, 219.6px);
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
  }
  .header__desktop-nav .desktop-nav__left .product__dropdown > a:not(:last-child),
.header__desktop-nav .desktop-nav__left .company__dropdown > a:not(:last-child),
.header__desktop-nav .desktop-nav__left .connect__dropdown > a:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .header__desktop-nav .desktop-nav__left .product__dropdown > a:hover,
.header__desktop-nav .desktop-nav__left .company__dropdown > a:hover,
.header__desktop-nav .desktop-nav__left .connect__dropdown > a:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .header__desktop-nav .desktop-nav__left .show-dropdown {
    opacity: 1;
    top: clamp(28.8px, 2vw, 36.2px);
    pointer-events: all;
  }
  .header__desktop-nav .desktop-nav__left .hide-dropdown {
    opacity: 0;
    top: clamp(2.8px, .2vw, 3.6px);
    pointer-events: none;
  }
  .header__desktop-nav .desktop-nav__right button {
    border: none;
    border-radius: 50px;
    padding: clamp(22px, 1.6vw, 30px) clamp(45px, 3.3vw, 50px);
    font-size: clamp(18px, 1.3vw, 25px);
    font-weight: 600;
    font-family: "Overpass", sans-serif;
    cursor: pointer;
    color: #ff525d;
  }
  .header__desktop-nav .desktop-nav__right button:hover:last-child {
    background-color: rgba(211, 211, 211, 0.2);
    color: white;
  }
  .header__desktop-nav .desktop-nav__right button:first-child {
    background-color: transparent;
    color: white;
  }
}
h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(20px, 1.4vw, 34px);
  line-height: clamp(43px, 3vw, 63px);
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.hero {
  position: relative;
  color: white;
  text-align: center;
  padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px);
  /* padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px); */
  font-family: "Overpass", sans-serif;
}
.hero h1 {
  font-weight: 600;
  font-size: clamp(24px, 7vw, 108px);
  margin: 0.7rem 0;
}
.hero p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(20px, 1.4vw, 34px);
  line-height: clamp(43px, 3vw, 63px);
  color: white;
  margin-bottom: 3rem;
}
.hero__cta {
  display: flex;
  justify-content: space-evenly;
}
.hero__cta button {
  border: none;
  border-radius: 50px;
  padding: clamp(22px, 1.6vw, 30px) clamp(45px, 3.3vw, 50px);
  font-size: clamp(18px, 1.3vw, 25px);
  font-weight: 600;
  font-family: "Overpass", sans-serif;
  cursor: pointer;
}
.hero__cta button:nth-child(1) {
  color: #ff525d;
}
.hero__cta button:nth-child(1):hover:first-child {
  background-color: rgba(211, 211, 211, 0.2);
  color: white;
}
.hero__cta button:nth-child(2) {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.hero__cta button:nth-child(2):hover:last-child {
  background-color: white;
  color: #ff525d;
}

@media screen and (min-width: 1440px) {
  .hero h1 {
    font-weight: 600;
  }
  .hero p {
    margin: clamp(28px, 2vw, 48px) 0 clamp(72px, 5vw, 120px) 0;
  }
  .hero__cta {
    justify-content: center;
  }
  .hero__cta button {
    margin: 0 1%;
  }
}
h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(20px, 1.4vw, 34px);
  line-height: clamp(43px, 3vw, 63px);
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.illustration {
  text-align: center;
  padding: 5rem 0;
}
.illustration .desktop {
  display: none;
}
.illustration h2 {
  color: #1f3f5b;
  margin: 2rem 0;
  font-size: clamp(45px, 3vw, 82px);
  font-weight: 600;
}
.illustration .illustration1 .illustration1__image {
  width: 90%;
  margin: 0 auto;
}
.illustration .illustration1 div:not(:first-child) {
  padding: 0 2.5rem 3rem 2.5rem;
}
.illustration .illustration1 div:not(:first-child) h2 {
  margin-bottom: 1rem;
}
.illustration .illustration1 div:not(:first-child) p {
  color: #4b5862;
}
.illustration .illustration2 {
  position: relative;
  padding: clamp(160px, 43vw, 287px) 0;
  margin: clamp(192px, 51vw, 287px) 0 clamp(80px, 20vw, 287px) 0;
  background-color: yellow;
  border-radius: 0 100px 0 100px;
  background-image: url(../../assets/images/bg-pattern-circles.svg), -webkit-linear-gradient(bottom, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.illustration .illustration2 > .illustration2__image {
  position: absolute;
  top: -27%;
}
.illustration .illustration2 div:not(:first-child) {
  padding: 0 2rem 3rem 2rem;
}
.illustration .illustration2 div:not(:first-child) h2 {
  margin-bottom: 1rem;
  color: white;
}
.illustration .illustration2 div:not(:first-child) p {
  color: #4b5862;
  color: white;
}
.illustration .illustration3 {
  margin-top: 5rem;
}
.illustration .illustration3 > h2 {
  margin: 2rem 0;
}
.illustration .illustration3 div:not(:first-child) {
  padding: 0 2.5rem 3rem 2.5rem;
}
.illustration .illustration3 div:not(:first-child) h2 {
  margin: 1.5rem 0;
}
.illustration .illustration3 div:not(:first-child) p {
  color: #4b5862;
}

@media screen and (min-width: 1440px) {
  .illustration {
    overflow: hidden;
  }
  .illustration .desktop {
    display: unset;
  }
  .illustration .mobile {
    display: none;
  }
  .illustration > h2 {
    margin: clamp(144px, 10vw, 240px);
  }
  .illustration .illustration1 {
    padding: 0 10rem;
    margin-bottom: 20%;
    position: relative;
  }
  .illustration .illustration1 .illustration1__image {
    position: absolute;
    top: -34%;
    right: -18%;
    width: 60%;
  }
  .illustration .illustration1 div:not(:first-child) {
    text-align: left;
    width: 75%;
    width: 60%;
  }
  .illustration .illustration1 div:not(:first-child) > h2 {
    font-size: clamp(30px, 2vw, 61px);
  }
  .illustration .illustration2 {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-end;
    /* padding: 4vw 2vw; */
    padding: clamp(108px, 7vw, 145px) clamp(28.8px, 2vw, 48.8px);
    margin-bottom: 20%;
  }
  .illustration .illustration2 div:not(:first-child) {
    width: 53%;
  }
  .illustration .illustration2 div:not(:first-child) h2 {
    font-size: clamp(38px, 2.7vw, 65px);
  }
  .illustration .illustration2 > .illustration2__image {
    position: absolute;
    /* top: -15%; */
    top: clamp(-86.4px, -6vw, -146.4px);
    left: clamp(14.4px, 1vw, 24.4px);
    width: clamp(705px, 37vw, 902px);
  }
  .illustration .illustration3 {
    padding-right: clamp(72px, 8vw, 195.2px);
    margin-bottom: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
  }
  .illustration .illustration3 .illustration3__image {
    position: absolute;
    top: -25%;
    left: -278px;
  }
  .illustration .illustration3 div:not(:first-child) {
    width: 60%;
    padding-left: 10%;
  }
}
h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

img {
  width: 100%;
}

.intro {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -10;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 0 0 0 80px;
}
.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: scale(4);
  z-index: -1;
}

p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(20px, 1.4vw, 34px);
  line-height: clamp(43px, 3vw, 63px);
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.footer {
  background-color: #25252d;
  color: #c8c8cb;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 3rem 0;
  /* padding: clamp(48px, 13vw, 50px) 0; */
  border-radius: 0 100px 0 0;
}
.footer .logo {
  width: 20%;
  margin: 2rem auto;
}
.footer div:not(:first-child) {
  margin: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}
.footer div:not(:first-child) span {
  font-size: clamp(18px, 2.5vw, 35px);
}
.footer div:not(:first-child) span:first-child {
  margin-bottom: 1rem;
  font-weight: 600;
}
.footer div:not(:first-child) span:not(:first-child) {
  margin: 0.2rem 0;
}

@media screen and (min-width: 1440px) {
  .footer {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
    border-radius: 0 100px 0 0;
  }
  .footer .logo {
    width: 7%;
    margin: unset;
  }
  .footer div:not(:first-child) {
    margin: unset;
    display: flex;
    flex-direction: column;
  }
  .footer div:not(:first-child) span:first-child {
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  .footer div:not(:first-child) span:not(:first-child) {
    margin: 0.3rem 0;
    cursor: pointer;
  }
  .footer div:not(:first-child) span:not(:first-child):hover {
    text-decoration: underline;
  }
}

/*# sourceMappingURL=styles.css.map */
