h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  font-size: 16px;
}

body {
  position: relative;
  z-index: 1;
}

img {
  width: 100%;
}

.intro {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -1;
  overflow: hidden;
  border-radius: 0 0 0 65px;
  padding-bottom: 10vw;
}

.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  -webkit-transform: scale(4);
          transform: scale(4);
  z-index: -1;
}

p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(1.078rem, 4.6vw, 1.25rem);
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/*** Backdrop style ***/
.backdrop {
  position: fixed;
  z-index: 99;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: auto;
  background-color: rgba(204, 204, 204, 0.3);
}

.backdrop .hamburger-menu {
  position: absolute;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  top: clamp(5.864rem, 25vw, 9.375rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: clamp(19.939rem, 85vw, 25rem);
  max-width: 400px;
  background-color: white;
  border-radius: 5px;
  z-index: 1000;
  padding: 2rem;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container {
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container a {
  color: #1f3f5b;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container > a {
  font-size: clamp(1.184rem, 5vw, 1.5rem);
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container > a::after {
  content: url("../images/icon-arrow-dark.svg");
  margin-left: .4em;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  display: inline-block;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container .hamburger-menu__dropdown {
  z-index: -1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: clamp(11.25px, 3vw, 40px) auto clamp(11.25px, 3vw, 40px) auto;
  max-width: 21.875rem;
  /* height: 25vh; */
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #efeff1;
  -webkit-transition: right 550ms ease-in-out;
  transition: right 550ms ease-in-out;
  padding: clamp(1.876rem, 8vw, 2.812rem);
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container .hamburger-menu__dropdown > a {
  font-size: clamp(17.05px, 4.5vw, 20px);
  margin-bottom: 1.2em;
}

.backdrop .hamburger-menu .hamburger-menu__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
}

.backdrop .hamburger-menu .hamburger-menu__cta button:first-child {
  color: #1f3f5b;
  background: white;
}

.backdrop .hamburger-menu .hamburger-menu__cta button:last-child {
  color: white;
}

.backdrop .hamburger-menu .hamburger-menu__cta button {
  border: none;
  border-radius: 50px;
  padding: 1.25em 1.9em;
  font-size: clamp(0.937rem, 4vw, 1.25rem);
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border: none;
  width: 60%;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  font-size: 16px;
}

body {
  position: relative;
  z-index: 1;
}

img {
  width: 100%;
}

.intro {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  position: relative;
  z-index: -1;
  overflow: hidden;
  border-radius: 0 0 0 65px;
  padding-bottom: 10vw;
}

.intro > img {
  position: absolute;
  top: 40%;
  left: 35%;
  -webkit-transform: scale(4);
          transform: scale(4);
  z-index: -1;
}

p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(1.078rem, 4.6vw, 1.25rem);
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/*** Backdrop style ***/
.backdrop {
  position: fixed;
  z-index: 99;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: auto;
  background-color: rgba(204, 204, 204, 0.3);
}

.backdrop .hamburger-menu {
  position: absolute;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  top: clamp(5.864rem, 25vw, 9.375rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: clamp(19.939rem, 85vw, 25rem);
  max-width: 400px;
  background-color: white;
  border-radius: 5px;
  z-index: 1000;
  padding: 2rem;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container {
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container a {
  color: #1f3f5b;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container > a {
  font-size: clamp(1.184rem, 5vw, 1.5rem);
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container > a::after {
  content: url("../images/icon-arrow-dark.svg");
  margin-left: .4em;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  display: inline-block;
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container .hamburger-menu__dropdown {
  z-index: -1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: clamp(11.25px, 3vw, 40px) auto clamp(11.25px, 3vw, 40px) auto;
  max-width: 21.875rem;
  /* height: 25vh; */
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #efeff1;
  -webkit-transition: right 550ms ease-in-out;
  transition: right 550ms ease-in-out;
  padding: clamp(1.876rem, 8vw, 2.812rem);
}

.backdrop .hamburger-menu > div.hamburger-menu__dropdown-container .hamburger-menu__dropdown > a {
  font-size: clamp(17.05px, 4.5vw, 20px);
  margin-bottom: 1.2em;
}

.backdrop .hamburger-menu .hamburger-menu__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
}

.backdrop .hamburger-menu .hamburger-menu__cta button:first-child {
  color: #1f3f5b;
  background: white;
}

.backdrop .hamburger-menu .hamburger-menu__cta button:last-child {
  color: white;
}

.backdrop .hamburger-menu .hamburger-menu__cta button {
  border: none;
  border-radius: 50px;
  padding: 1.25em 1.9em;
  font-size: clamp(0.937rem, 4vw, 1.25rem);
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border: none;
  width: 60%;
}

/* Desktop animation class */
.show-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -1vw;
  top: clamp(28.8px, 2vw, 36.2px);
}

.hide-dropdown {
  display: none;
}

/* Mobile animation class */
.show-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  display: none;
}

.hide-overflow {
  overflow: hidden;
}

.hide-menu {
  display: none;
}

.show-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 0;
}

.hide-accordion {
  position: absolute;
  opacity: 0;
  right: 80vw;
}

.rotate-arrow {
  opacity: 0.6;
}

.rotate-arrow::after {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

/*  Mobile style */
.header {
  padding: clamp(3.518rem, 15vw, 6.256rem) clamp(1.407rem, 6vw, 2.502rem) 0vw clamp(1.407rem, 6vw, 2.502rem);
}

.header__mobile-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 100%;
  margin: auto;
  max-width: 60rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__mobile-nav .header__logo {
  width: clamp(5.628rem, 24vw, 7.5rem);
}

.header__mobile-nav .menuButton {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__mobile-nav .hamburger-icon,
.header__mobile-nav .close-icon {
  width: clamp(2.11rem, 9vw, 2.918rem);
  height: clamp(1.407rem, 6vw, 1.6677rem);
}

.header__mobile-nav .hamburger-icon {
  background-image: url("../images/icon-hamburger.svg");
}

.header__mobile-nav .close-icon {
  background-image: url("../images/icon-close.svg");
}

.header__desktop-nav {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: clamp(96.4px, 6vw, 146.4px) clamp(110px, 8vw, 150px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .header__mobile-nav {
    display: none;
  }
  .header__desktop-nav {
    padding-left: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .header__desktop-nav .desktop-nav__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 5vw;
  }
  .header__desktop-nav .desktop-nav__left .header__logo {
    position: absolute;
    left: 6vw;
    top: 7vw;
    width: 7%;
  }
  .header__desktop-nav .desktop-nav__left .product,
  .header__desktop-nav .desktop-nav__left .company,
  .header__desktop-nav .desktop-nav__left .connect {
    width: 30%;
    position: relative;
  }
  .header__desktop-nav .desktop-nav__left :where(.product > a, .company > a, .connect > a) {
    color: white;
    font-family: "Overpass", sans-serif;
    text-decoration: none;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    font-size: clamp(16px, 1.3vw, 25px);
    position: relative;
    margin-right: 4.5vw;
    cursor: pointer;
  }
  .header__desktop-nav .desktop-nav__left :where(.product > a, .company > a, .connect > a):hover {
    text-decoration: underline;
  }
  .header__desktop-nav .desktop-nav__left :where(.product > a, .company > a, .connect > a)::after {
    content: url("../images/icon-arrow-light.svg");
    margin-left: clamp(11px, 0.8vw, 19px);
  }
  .header__desktop-nav .desktop-nav__left .dropdown {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: clamp(144px, 10vw, 239.733px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1vw 0 1vw 1vw;
    z-index: 999;
  }
  .header__desktop-nav .desktop-nav__left .dropdown .link:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .header__desktop-nav .desktop-nav__left .dropdown .link:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .header__desktop-nav .desktop-nav__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__desktop-nav .desktop-nav__right button {
    border: none;
    border-radius: 50px;
    padding: 1.25em 1.9em;
    font-size: clamp(0.937rem, 4vw, 1.25rem);
    font-weight: 900;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    color: #ff525d;
    padding: 1.2vw 3vw;
    font-size: clamp(16px, 1.3vw, 25px);
  }
  .header__desktop-nav .desktop-nav__right button:hover:last-child {
    background-color: rgba(211, 211, 211, 0.2);
    color: white;
  }
  .header__desktop-nav .desktop-nav__right button:first-child {
    background-color: transparent;
    color: white;
  }
}

.hero {
  position: relative;
  color: white;
  text-align: center;
  padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px);
  /* padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px); */
  font-family: "Overpass", sans-serif;
}

.hero h1 {
  font-weight: 600;
  font-size: clamp(2.11rem, 9vw, 2.625rem);
  margin: 0.7rem 0;
}

.hero p {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(1.078rem, 4.6vw, 1.25rem);
  line-height: 1.4em;
  color: white;
  margin-bottom: 3rem;
}

.hero__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__cta button {
  border: none;
  border-radius: 50px;
  padding: 1.25em 1.9em;
  font-size: clamp(0.937rem, 4vw, 1.25rem);
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.hero__cta button:nth-child(1) {
  color: #ff525d;
  margin-right: 1.1em;
}

.hero__cta button:nth-child(1):hover:first-child {
  background-color: rgba(211, 211, 211, 0.2);
  color: white;
}

.hero__cta button:nth-child(2) {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.hero__cta button:nth-child(2):hover:last-child {
  background-color: white;
  color: #ff525d;
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 0 clamp(2rem, 3vw, 32px);
  }
  .hero h1 {
    font-weight: 600;
    font-size: 5vw;
    margin-bottom: 1vw;
  }
  .hero p {
    margin-bottom: 4vw;
    font-size: 1.5vw;
    line-height: unset;
  }
  .hero__cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__cta button {
    border: none;
    border-radius: 50px;
    padding: 1.25em 1.9em;
    font-size: clamp(0.937rem, 4vw, 1.25rem);
    font-weight: 900;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    color: #ff525d;
    padding: 1.2vw 1.5vw;
    font-size: clamp(16px, 1.3vw, 25px);
    margin: 0 1%;
  }
  .hero__cta button:last-child {
    border: 1.5px solid;
  }
}

.illustrations {
  position: relative;
  z-index: -10;
  text-align: center;
  padding: clamp(4.456rem, 19vw, 4.68rem) 0;
  /* max-width: 60rem; // 960px
  margin: 0 auto; */
}

.illustrations .illustration {
  max-width: 60rem;
  margin: 0 auto;
}

.illustrations .illustration .illustration__image {
  max-width: 400px;
  margin: 0 auto;
}

.illustrations .desktop {
  display: none;
}

.illustrations h2 {
  color: #1f3f5b;
  margin: 2rem 0;
  font-size: clamp(1.641rem, 7vw, 2.25rem);
  font-weight: 600;
}

.illustrations .illustration1 {
  margin-bottom: clamp(15.48rem, 66vw, 18rem);
}

.illustrations .illustration1 .illustration1__image {
  margin: 0 auto;
}

.illustrations .illustration1 div:not(:first-child) {
  padding: 0 10.5vw;
}

.illustrations .illustration1 div:not(:first-child) h2 {
  margin-bottom: 1rem;
}

.illustrations .illustration1 div:not(:first-child) p {
  color: #4b5862;
  font-size: clamp(1rem, 4.3vw, 1.37rem);
  line-height: 1.65em;
}

.illustrations .illustration2 {
  position: relative;
  max-width: unset;
  padding-top: clamp(8.679rem, 20.8vw, 10.42rem);
  padding-bottom: clamp(2.345rem, 10vw, 4.17rem);
  background-color: yellow;
  border-radius: 0 100px 0 100px;
  background-image: url(../images/bg-pattern-circles.svg), -webkit-linear-gradient(bottom, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.illustrations .illustration2 > .illustration2__image {
  position: absolute;
  top: -30%;
}

.illustrations .illustration2 div:not(:first-child) {
  padding: clamp(2.11rem, 9vw, 2.3rem) clamp(2.11rem, 9vw, 2.3rem) clamp(4.456rem, 19vw, 5rem) clamp(2.11rem, 9vw, 2.3rem);
}

.illustrations .illustration2 div:not(:first-child) h2 {
  color: white;
  font-size: clamp(2.345rem, 10vw, 2.6rem);
}

.illustrations .illustration2 div:not(:first-child) p {
  color: #4b5862;
  color: white;
  font-size: clamp(0.98rem, 4.2vw, 1.091rem);
  line-height: 1.75em;
}

.illustrations .illustration3 {
  padding: 15vw 0;
}

.illustrations .illustration3 .illustration3__image {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.illustrations .illustration3 .illustration3__image img {
  width: auto;
}

.illustrations .illustration3 > h2 {
  margin: 2rem 0;
}

.illustrations .illustration3 div:not(:first-child) {
  padding: 0 10.5vw;
}

.illustrations .illustration3 div:not(:first-child) h2 {
  margin: 1.5rem 0;
}

.illustrations .illustration3 div:not(:first-child) p {
  color: #4b5862;
  font-size: clamp(1rem, 4.3vw, 1.37rem);
  line-height: 1.65em;
}

@media screen and (min-width: 1440px) {
  .illustrations {
    overflow: hidden;
    padding: 10vw 0;
  }
  .illustrations .desktop {
    display: unset;
  }
  .illustrations .mobile {
    display: none;
  }
  .illustrations > h2 {
    font-size: 2.5vw;
    margin-bottom: 6vw;
    margin-top: unset;
  }
  .illustrations .illustration {
    max-width: unset;
  }
  .illustrations .illustration .illustration__image {
    max-width: unset !important;
  }
  .illustrations .illustration1 {
    padding: 0 10rem;
    margin-bottom: 20%;
    position: relative;
  }
  .illustrations .illustration1 .illustration1__image {
    position: absolute;
    top: -52%;
    right: -19%;
    width: 63%;
  }
  .illustrations .illustration1 div:not(:first-child) {
    text-align: left;
    width: 46%;
    padding: unset;
  }
  .illustrations .illustration1 div:not(:first-child) > h2 {
    font-size: 1.88vw;
  }
  .illustrations .illustration1 div:not(:first-child) p {
    font-size: 1.1vw;
    line-height: 2vw;
  }
  .illustrations .illustration1 div:nth-child(2) {
    margin-bottom: 5vw;
  }
  .illustrations .illustration2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-top: 5vw;
    padding-bottom: 8vw;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-radius: 0 95px 0 95px;
    margin-bottom: 17vw;
  }
  .illustrations .illustration2 div:not(:first-child) {
    padding: unset;
    width: 45%;
  }
  .illustrations .illustration2 div:not(:first-child) h2 {
    font-size: 2.5vw;
  }
  .illustrations .illustration2 div:not(:first-child) p {
    font-size: 1.1vw;
    line-height: 2vw;
  }
  .illustrations .illustration2 > .illustration2__image {
    position: absolute;
    top: -5vw;
    left: 8vw;
    width: 40vw;
  }
  .illustrations .illustration3 {
    padding-top: 0;
    padding-right: 12vw;
    margin-top: unset;
    margin-bottom: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .illustrations .illustration3 .illustration3__image {
    position: absolute;
    top: -23%;
    left: -20%;
    width: 66%;
  }
  .illustrations .illustration3 .illustration3__image img {
    width: 100%;
  }
  .illustrations .illustration3 div:not(:first-child) {
    text-align: left;
    width: 38%;
    padding: unset;
  }
  .illustrations .illustration3 div:not(:first-child) > h2 {
    font-size: 1.88vw;
  }
  .illustrations .illustration3 div:not(:first-child) p {
    font-size: 1.1vw;
    line-height: 2vw;
  }
  .illustrations .illustration3 div:nth-child(2) {
    margin-bottom: 3vw;
  }
}

.footer {
  position: relative;
  z-index: -10;
  background-color: #25252d;
  color: #c8c8cb;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 3rem 0;
  /* padding: clamp(48px, 13vw, 50px) 0; */
  border-radius: 0 100px 0 0;
}

.footer .logo {
  width: 20%;
  margin: 2rem auto;
}

.footer div:not(:first-child) {
  margin: 3rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer div:not(:first-child) span {
  font-size: clamp(18px, 2.5vw, 35px);
}

.footer div:not(:first-child) span:first-child {
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer div:not(:first-child) span:not(:first-child) {
  margin: 0.2rem 0;
}

@media screen and (min-width: 1440px) {
  .footer {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5% 0;
    border-radius: 0 100px 0 0;
  }
  .footer .logo {
    width: 7%;
    margin: unset;
  }
  .footer div:not(:first-child) {
    margin: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer div:not(:first-child) span:first-child {
    font-size: 1.1vw;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  .footer div:not(:first-child) span:not(:first-child) {
    margin: 0.3rem 0;
    cursor: pointer;
    font-size: 1.1vw;
  }
  .footer div:not(:first-child) span:not(:first-child):hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=styles.css.map */