@import "../global";
@import "variables";

.footer {
  position: relative;
  z-index: -10;
  background-color: $very-dark-blue-footer-bg;
  color: $grayish-blue-footer-text;
  font-family: $overpass;
  font-weight: 300;
  text-align: center;
  padding: 3rem 0;
  /* padding: clamp(48px, 13vw, 50px) 0; */
  border-radius: 0 100px 0 0;

  .logo {
    width: 20%;
    margin: 2rem auto;
  }

  div:not(:first-child) {
    margin: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;

    span {
      font-size: clamp(18px, 2.5vw, 35px);
    }

    span:first-child {
      margin-bottom: 1rem;
      font-weight: 600;
    }

    span:not(:first-child) {
      margin: 0.2rem 0;
    }
  }
}

@media screen and (min-width: $desktop) {
  .footer {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
    border-radius: 0 100px 0 0;

    .logo {
      width: 7%;
      margin: unset;
    }

    div:not(:first-child) {
      margin: unset;
      display: flex;
      flex-direction: column;

      span:first-child {
        font-size: 1.1vw;
        margin-bottom: 1.5rem;
        font-weight: 700;
      }

      span:not(:first-child) {
        margin: 0.3rem 0;
        cursor: pointer;
        font-size: 1.1vw;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}