@import "../global";
@import "variables";

.footer {
    background-color: $very-dark-blue-footer-bg;
    color: $grayish-blue-footer-text;
    font-family: $overpass;
    font-weight: 300;
    text-align: center;
    padding: 3rem 0;
    border-radius: 0 100px 0 0;
    .logo {
        width: 20%;
        margin: 2rem auto;
    }

    div:not(:first-child) {
        margin: 3rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        span:first-child {
            margin-bottom: 1rem;
            font-weight: 600;
        }

        span:not(:first-child) {
            margin: .2rem 0;
        }
    }
}