@import "../variables";
@import "../_global";

/*  Mobile style */
.header {
    position: relative;
    width: 100%;

    &__desktop-nav {
        display: none;
    }

    &__logo {
        display: inline-block;
        width: 20%;
    }

    &__mobile-nav {
        span {
            display: block;
        }
    }
}