@import "../variables";
@import "../_global";

/*  Mobile style */
.header {
  &__desktop-nav {
    display: none;
  }

  &__mobile-nav {
    display: block;
  }

  position: relative;
  width: 100%;
  /* padding: clamp(30px, 7vw, 90px) 1.5rem clamp(18px, 5vw, 70px) 1.5rem; */
  padding: clamp(30px, 7vw, 90px) clamp(18px, 5vw, 70px);
  display: flex;
  justify-content: space-between;

  &__logo {
    display: inline-block;
    width: clamp(75px, 20vw, 150px);
  }

  &__mobile-nav {
    width: clamp(30px, 7vw, 60px);
    cursor: pointer;
  }
}

@media screen and (min-width: $desktop) {
  .header {
    padding: clamp(70px, 5vw, 95px) clamp(110px, 8vw, 150px);
    display: flex;
    justify-content: unset;

    &__mobile-nav {
      display: none;
    }

    &__desktop-nav {
      padding-left: 5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .desktop-nav__left {
        display: flex;
        align-items: baseline;
        .product,
        .company,
        .connect {
          width: 30%;
          position: relative;
        }

        :where(.product > a, .company > a, .connect > a) {
          @include anchor;
          display: flex;
          justify-content: space-evenly;
          align-items: baseline;
          font-size: clamp(16px, 1.3vw, 25px);
          position: relative;
          margin-right: 2.5vw;
          cursor: pointer;

          &::after {
            content: url(../../assets/images/icon-arrow-light.svg);
            margin-left: clamp(11px, 0.8vw, 19px);
          }

          &:hover {
            &::after {
              transform: scaleY(-1);
            }
          }
        }

        .product__dropdown,
        .company__dropdown,
        .connect__dropdown {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          border-radius: 5px;
          font-family: "Ubuntu", sans-serif;
          position: relative;
          transition: all 300ms ease-in-out;
          opacity: 0;
          pointer-events: none;
          width: clamp(144px, 10vw, 239.733px);
          height: clamp(180.883px, 9vw, 219.6px);
          justify-content: center;
          align-items: flex-start;
          padding-left: 1vw;

          &>a:not(:last-child) {
            margin-bottom: 1.5rem;
          }

          &>a:hover {
            font-weight: bold;
            cursor: pointer;
          }
        }

        .show-dropdown {
          opacity: 1;
          top: clamp(28.8px, 2vw, 36.2px);
          pointer-events: all;
        }

        .hide-dropdown {
          opacity: 0;
          top: clamp(2.8px, .2vw, 3.6px);
          pointer-events: none;
        }
      }

      .desktop-nav__right {
        button {
          @include btn-style;
          color: $light-red-for-cta-text;

          &:hover:last-child {
            background-color: rgba($color: lightgray, $alpha: 0.2);
            color: $white-text;
          }
        }

        button:first-child {
          background-color: transparent;
          color: $white-text;
        }
      }
    }
  }
}