@import "../global";
@import "variables";

.hero {
  position: relative;
  color: $white-text;
  text-align: center;
  padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px);
  /* padding: clamp(5rem, 5vw, 80px) clamp(2rem, 3vw, 32px); */
  font-family: $overpass;

  h1 {
    font-weight: 600;
    font-size: 9vw;
    margin: 0.7rem 0;
  }

  p {
    @include text;
    color: $white-text;
    margin-bottom: 3rem;
  }

  &__cta {
    display: flex;
    justify-content: space-between;

    button {
      @include btn-style;

      &:nth-child(1) {
        color: $light-red-for-cta-text;

        &:hover:first-child {
          background-color: rgba($color: lightgray, $alpha: 0.2);
          color: $white-text;
        }
      }

      &:nth-child(2) {
        background-color: transparent;
        border: 1px solid white;
        color: white;

        &:hover:last-child {
          background-color: rgba($color: $white-text, $alpha: 1);
          color: $light-red-for-cta-text;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    padding: 0 clamp(2rem, 3vw, 32px);
    h1 {
      font-weight: 600;
      font-size: 5vw;
      margin-bottom: 1vw;
    }

    p {
      margin-bottom: 4vw;
      font-size: 1.5vw;
      line-height: unset;
    }

    &__cta {
      justify-content: center;

      button {
        @include btn-style;
        color: $light-red-for-cta-text;
        padding: 1.2vw 1.5vw;
        font-size: clamp(16px, 1.3vw, 25px);
        margin: 0 1%;
      }

      button:last-child() {
        border: 1.5px solid;
      }
    }
  }
}