@import "../global";
@import "variables";

.illustration {
  position: relative;
  z-index: -10;
  text-align: center;
  padding: 19vw 0;

  .desktop {
    display: none;
  }

  h2 {
    color: $very-dark-blue-headings;
    margin: 2rem 0;
    font-size: 7vw;
    font-weight: 600;
  }

  .illustration1 {
    margin-bottom: 66vw;

    .illustration1__image {
      margin: 0 auto;
    }

    div:not(:first-child) {
      padding: 0 10.5vw;

      h2 {
        margin-bottom: 1rem;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
        font-size: 4.3vw;
        line-height: 7vw;
      }
    }
  }

  .illustration2 {
    position: relative;
    padding-top: 37vw;
    padding-bottom: 10vw;
    background-color: yellow;
    border-radius: 0 100px 0 100px;
    background-image: url(../images/bg-pattern-circles.svg),
      -webkit-linear-gradient(bottom, $very-dark-gray-blue-body, $very-dark-desaturated-blue);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    >.illustration2__image {
      position: absolute;
      top: -30%;
    }

    div:not(:first-child) {
      padding: 9vw 9vw 19vw 9vw;

      h2 {
        color: $white-text;
        font-size: 10vw;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
        color: $white-text;
        font-size: 4.2vw;
        line-height: 8vw;
      }
    }
  }

  .illustration3 {
    margin-top: 5rem;

    .illustration3__image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: auto;
      }
    }
    

    >h2 {
      margin: 2rem 0;
    }

    div:not(:first-child) {
      padding: 0 10.5vw;

      h2 {
        margin: 1.5rem 0;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
        font-size: 4.2vw;
        line-height: 8vw;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .illustration {
    overflow: hidden;

    .desktop {
      display: unset;
    }

    .mobile {
      display: none;
    }

    >h2 {
      margin: clamp(144px, 10vw, 240px);
    }

    .illustration1 {
      padding: 0 10rem;
      margin-bottom: 20%;
      position: relative;

      .illustration1__image {
        position: absolute;
        top: -34%;
        right: -18%;
        width: 60%;
      }

      div:not(:first-child) {
        text-align: left;
        width: 75%;
        width: 60%;

        >h2 {
          font-size: clamp(30px, 2vw, 61px);
        }
      }
    }

    .illustration2 {
      display: flex;
      text-align: left;
      align-items: center;
      justify-content: flex-end;
      /* padding: 4vw 2vw; */
      padding: clamp(108px, 7vw, 145px) clamp(28.8px, 2vw, 48.8px);
      margin-bottom: 20%;

      div:not(:first-child) {
        width: 53%;

        h2 {
          font-size: clamp(38px, 2.7vw, 65px);
        }
      }

      >.illustration2__image {
        position: absolute;
        /* top: -15%; */
        top: clamp(-86.4px, -6vw, -146.4px);
        left: clamp(14.4px, 1vw, 24.4px);
        width: clamp(705px, 37vw, 902px);
      }
    }

    .illustration3 {
      padding-right: clamp(72px, 8vw, 195.2px);
      margin-bottom: 20%;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-end;

      .illustration3__image {
        position: absolute;
        top: -25%;
        left: -278px;
      }

      div:not(:first-child) {
        width: 60%;
        padding-left: 10%;
      }
    }
  }
}