.illustrations {
  position: relative;
  z-index: -10;
  text-align: center;
  padding:  clamp(4.456rem, 19vw, 4.68rem) 0;
  max-width: 60rem; // 960px
  margin: 0 auto;

  .illustration {
    .illustration__image {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  .desktop {
    display: none;
  }

  h2 {
    color: $very-dark-blue-headings;
    margin: 2rem 0;
    font-size: $mobile-h2; // 36px
    font-weight: 600;
  }

  .illustration1 {
    margin-bottom: 66vw;

    .illustration1__image {
      margin: 0 auto;
    }

    div:not(:first-child) {
      padding: 0 10.5vw;

      h2 {
        margin-bottom: 1rem;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
        font-size: clamp(1rem , 4.3vw, 1.37rem);
        line-height: 1.65em;
      }
    }
  }

  .illustration2 {
    position: relative;
    padding-top: clamp(8.679rem, 20.8vw, 10.42rem);
    padding-bottom: clamp(2.345rem, 10vw, 4.170rem);
    background-color: yellow;
    border-radius: 0 100px 0 100px;
    background-image: url(../images/bg-pattern-circles.svg),
      -webkit-linear-gradient(bottom, $very-dark-gray-blue-body, $very-dark-desaturated-blue);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    >.illustration2__image {
      position: absolute;
      top: -30%;
    }

    div:not(:first-child) {
      padding: clamp(2.110rem, 9vw, 2.3rem) clamp(2.110rem, 9vw, 2.3rem) 19vw clamp(2.110rem, 9vw, 2.3rem);

      h2 {
        color: $white-text;
        font-size: clamp(2.345rem, 10vw, 2.60rem);
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
        color: $white-text;
        font-size: clamp(0.98rem, 4.2vw, 1.091rem); // * 2.383
        line-height: 1.75em;
      }
    }
  }

  .illustration3 {
    padding: 15vw 0;
    .illustration3__image {
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        width: auto;
      }
    }


    >h2 {
      margin: 2rem 0;
    }

    div:not(:first-child) {
      padding: 0 10.5vw;

      h2 {
        margin: 1.5rem 0;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
        font-size: clamp(1rem , 4.3vw, 1.37rem);
        line-height: 1.65em;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .illustration {
    overflow: hidden;
    padding: 10vw 0;

    .desktop {
      display: unset;
    }

    .mobile {
      display: none;
    }

    >h2 {
      font-size: 2.5vw;
      margin-bottom: 6vw;
      margin-top: unset;
    }

    .illustration1 {
      padding: 0 10rem;
      margin-bottom: 20%;
      position: relative;

      .illustration1__image {
        position: absolute;
        top: -55%;
        right: -20%;
        width: 65%;
      }

      div:not(:first-child) {
        text-align: left;
        width: 46%;
        padding: unset;

        >h2 {
          font-size: 1.88vw;
        }

        p {
          font-size: 1.1vw;
          line-height: 2vw;
        }
      }

      div:nth-child(2) {
        margin-bottom: 5vw;
      }
    }

    .illustration2 {
      display: flex;
      text-align: left;
      padding-left: 9vw;
      padding-right: 9vw;
      padding-top: 5vw;
      padding-bottom: 8vw;
      justify-content: flex-end;
      border-radius: 0 95px 0 95px;
      margin-bottom: 20vw;

      div:not(:first-child) {
        padding: unset;
        width: 45%;

        h2 {
          font-size: 2.5vw;
        }

        p {
          font-size: 1.1vw;
          line-height: 2vw;
        }
      }

      >.illustration2__image {
        position: absolute;
        top: -5vw;
        left: 8vw;
        width: 40vw;
      }
    }

    .illustration3 {
      padding-right: 12vw;
      margin-top: unset;
      margin-bottom: 12vw;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-end;

      .illustration3__image {
        position: absolute;
        top: -30%;
        left: -19.31vw;
      }

      div:not(:first-child) {
        text-align: left;
        width: 38%;
        padding: unset;

        >h2 {
          font-size: 1.88vw;
        }

        p {
          font-size: 1.1vw;
          line-height: 2vw;
        }
      }

      div:nth-child(2) {
        margin-bottom: 5vw;
      }
    }
  }
}