@import "../global";
@import "variables";

.illustration {
  position: relative;
  z-index: -10;
  text-align: center;
  padding: 5rem 0;

  .desktop {
    display: none;
  }

  h2 {
    color: $very-dark-blue-headings;
    margin: 2rem 0;
    font-size: clamp(45px, 3vw, 82px);
    font-weight: 600;
  }

  .illustration1 {
    .illustration1__image {
      width: 90%;
      margin: 0 auto;
    }

    div:not(:first-child) {
      padding: 0 2.5rem 3rem 2.5rem;

      h2 {
        margin-bottom: 1rem;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
      }
    }
  }

  .illustration2 {
    position: relative;
    padding: clamp(160px, 43vw, 287px) 0;
    margin: clamp(192px, 51vw, 287px) 0 clamp(80px, 20vw, 287px) 0;
    background-color: yellow;
    border-radius: 0 100px 0 100px;
    background-image: url(assets/images/bg-pattern-circles.svg),
      -webkit-linear-gradient(bottom, $very-dark-gray-blue-body, $very-dark-desaturated-blue);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    >.illustration2__image {
      position: absolute;
      top: -27%;
    }

    div:not(:first-child) {
      padding: 0 2rem 3rem 2rem;

      h2 {
        margin-bottom: 1rem;
        color: $white-text;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
        color: $white-text;
      }
    }
  }

  .illustration3 {
    margin-top: 5rem;

    >h2 {
      margin: 2rem 0;
    }

    div:not(:first-child) {
      padding: 0 2.5rem 3rem 2.5rem;

      h2 {
        margin: 1.5rem 0;
      }

      p {
        color: $very-dark-grayish-blue-body-copy;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .illustration {
    overflow: hidden;

    .desktop {
      display: unset;
    }

    .mobile {
      display: none;
    }

    >h2 {
      margin: clamp(144px, 10vw, 240px);
    }

    .illustration1 {
      padding: 0 10rem;
      margin-bottom: 20%;
      position: relative;

      .illustration1__image {
        position: absolute;
        top: -34%;
        right: -18%;
        width: 60%;
      }

      div:not(:first-child) {
        text-align: left;
        width: 75%;
        width: 60%;

        >h2 {
          font-size: clamp(30px, 2vw, 61px);
        }
      }
    }

    .illustration2 {
      display: flex;
      text-align: left;
      align-items: center;
      justify-content: flex-end;
      /* padding: 4vw 2vw; */
      padding: clamp(108px, 7vw, 145px) clamp(28.8px, 2vw, 48.8px);
      margin-bottom: 20%;

      div:not(:first-child) {
        width: 53%;

        h2 {
          font-size: clamp(38px, 2.7vw, 65px);
        }
      }

      >.illustration2__image {
        position: absolute;
        /* top: -15%; */
        top: clamp(-86.4px, -6vw, -146.4px);
        left: clamp(14.4px, 1vw, 24.4px);
        width: clamp(705px, 37vw, 902px);
      }
    }

    .illustration3 {
      padding-right: clamp(72px, 8vw, 195.2px);
      margin-bottom: 20%;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-end;

      .illustration3__image {
        position: absolute;
        top: -25%;
        left: -278px;
      }

      div:not(:first-child) {
        width: 60%;
        padding-left: 10%;
      }
    }
  }
}